<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alkhatib.abdul.limkokwingreminder" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="16"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Abdul" >
        <activity
            android:name="com.alkhatib.abdul.limkokwingreminder.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.alkhatib.abdul.limkokwingreminder.SignUp"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.alkhatib.abdul.limkokwingreminder.AddModule"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.alkhatib.abdul.limkokwingreminder.About"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.alkhatib.abdul.limkokwingreminder.HomePage">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alkhatib.abdul.limkokwingreminder.HomePage"
                />
                />
            </activity>
        <activity
            android:name="com.alkhatib.abdul.limkokwingreminder.OurTeam"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.alkhatib.abdul.limkokwingreminder.HomePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alkhatib.abdul.limkokwingreminder.HomePage"
                />
            </activity>
        <activity
            android:name="com.alkhatib.abdul.limkokwingreminder.HomePage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.alkhatib.abdul.limkokwingreminder.MoreInfo"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.alkhatib.abdul.limkokwingreminder.HomePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alkhatib.abdul.limkokwingreminder.HomePage"
                />
            </activity>

    </application>

</manifest>
